* {
    margin: 0;
    padding: 0;
    font-family: Roboto,Arial,Helvetica,"Droid Sans",sans-serif;
    box-sizing: border-box;
    
}
body {
   
}
.clear {
    clear:both;
}
ul {
    margin:0;
    padding:0;
}
a {
    text-decoration:none;
    color:black;
}
/*Menu*/
.nav {
    height: 50px;
    background-color: black;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:1;
    
}
.nav .item-nav {
    display:flex;
}
.nav .item-nav a {
    display:inline-block;
    height:50px;
    line-height:50px;
    width:20%;
    text-align:center;
    font-weight:600;
    color:tan;
    letter-spacing:0.8px;
}
.nav .item-nav a {
    color:tan;
   
}
.nav .item-nav a:hover {
    border-bottom:3px aqua solid;
    cursor:pointer;
}
/*Menu-mobile*/
.nav-mobile {
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;   
}
.nav-mobile .icon-menu-mobile {
    height:100%;
}
.nav-mobile .icon-menu-mobile svg {
    color:tan;
    height:100%;
    width:9%;
    float:right;
    cursor:pointer;
}
.nav-mobile .item-nav-mobile {   
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    background-color:black;
    width: 70%;
    transform:translateX(100%);
    z-index:1;
    
}
.nav-mobile .item-nav-mobile a {   
    height: 50px;
    line-height: 50px;
    display:block;
    text-align: center;
    font-weight: 600;
    color: tan;
    letter-spacing: 0.8px;
}
.nav-mobile .item-nav-mobile a {
    color: tan;
}
.nav-mobile .item-nav-mobile a:hover {
    border-bottom: 3px aqua solid;
    cursor: pointer;
}
.overplay {
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color:rgba(0,0,0,0.6);
    cursor:pointer;   
    display:none;
}
.nav--input:checked ~ .overplay {
    display:block;
}
.nav--input:checked ~ .item-nav-mobile {
    transform:translateX(0%);
}
/*header*/
.header {
    margin-top: 50px;
    display:flex;
    justify-content:center; 
    background-color:black;  
}

.icon-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5%;
    height: 100%;
}
.icon-left path {        
    color: AliceBlue;
    opacity: 0.4;
    cursor:pointer;
}
.icon-left path:hover {
    opacity:0.9;
}

.icon-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 5%;
    height: 100%;
}   
.icon-right path {        
    color: AliceBlue;
    opacity: 0.4;
    cursor:pointer;
}
.icon-right path:hover {
    opacity:0.9;
}
.header .slide {
    width:85%;
    overflow:hidden;
    position:relative;
    height:100%;
    border-radius:10px;
       
}

.header img {
    width:16.666%;
    float:left;
}
.header .change-img {
    width:600%;
    margin-left:0;
    transition: margin-left linear 0.7s;
}
/*sanphamhot*/
.sanphamhot {
   background-color:black;
   width:100%;
   display:flex;
   justify-content:center;   
}
.sanphamhot .itemhot {
    width:90%;
    background-color:black;
    text-align:center;
}
.sanphamhot .itemhot h2 {
    color:tan;
    padding:30px 0 30px 0 ;
}
.sanphamhot .itemhot h2 span {
    color:red;
}
.sanphamhot .itemhot .grid .row .col {
    margin-bottom:20px;
}
.sanphamhot .itemhot .grid .row .col img {
    width:100%;
    border-radius:6px;
    margin-bottom:10px;
	
}
.sanphamhot .itemhot .grid .row .col img:hover {
    cursor:pointer;
    opacity:0.4;
}
.sanphamhot .itemhot .grid .row .col a {
    color:red;
    
    font-size:20px;
}
.sanphamhot .itemhot .grid .row .col p {
    color:goldenrod;
    margin:10px 0 10px 0;
}

/*tintuchot*/
.tintuchot {
   background-color:white;
   width:100%;
   display:flex;
   justify-content:center;
   margin-top: -4px;    
}
.tintuchot .itemhot {
    width:90%;
    background-color:white;
    text-align:center;
}
.tintuchot .itemhot h2 {
    color:black;
    padding:30px 0 30px 0 ;
}
.tintuchot .itemhot h2 span {
    color:red;
}
.tintuchot .itemhot .grid .row .col {
    margin-bottom:20px;
    text-align:justify;
}
.tintuchot .itemhot .grid .row .col img {
    width:100%;
    border-radius:6px;
    margin-bottom:10px;
}
.tintuchot .itemhot .grid .row .col img:hover {
    cursor:pointer;
    opacity:0.4;
}
.tintuchot .itemhot .grid .row .col a {
    color:black;    
    font-size:20px;
}

 
/*Feedback*/
.feedback {
   
    background-color:black;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.feedback h2 {
    color:tan;
    padding:30px 0 30px 0 ;
}
.feedback .slide-feedback {
    width: 80%;
    overflow: hidden;
    position: relative;
    background-color:black;
    margin-bottom:90px;
    height:100%;
    border-radius:9px;
}

.feedback .feedbackimg {
    width:16.666%;
    float:left;
    
}

.feedback .change-img-feedback {
    width: 600%;
    margin-left: 0;
    transition: margin-left linear 0.7s;
}

/*Footer*/
.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-top:2px solid black;
    
}
.footer h2 {
    width:100%;
    text-align:center;
    padding:20px 0 20px 0;
}
.footer .masale {
    width:50%;
    background-color:black;
    padding-top:20px;
    padding-bottom:50px;
}

.footer .masale form {
    text-align:center;
}
.footer .masale form p {
    font-size:25px;
    margin-bottom:20px;
    font-weight:500;
    color:red;
}
.footer .masale form p label {
    font-size:20px;
    color:tan;
}
.footer .masale form .guigmail span {
    width:15%;
    font-size:20px;
    border-radius:200px;
    cursor:pointer;
    padding:5px 5px 5px 5px;
    background-color:white;
    
    
}
.footer .masale form p .input-gmail {
    width:80%;
    font-size:25px;
    border-radius:8px;
}
.footer .sup-footer {
    width:35%;
    background-color:black;
    padding-top:20px;
    
}
.footer .icon-footer {
    width:15%;
    display:flex;
    flex-wrap:wrap;
    background:black;
    justify-items:center;
    align-content:center;
   
}
.footer .icon-footer a {
    display:inline-block;
    width:100%;
    text-align:center;
}
.footer .icon-footer a svg {
    width:25%;
    color:tan;
 
}

.footer .sup-footer .bonuslink {
    text-align:justify;
    font-size:20px;   
    padding:10px 10px 0px 0px;
    color:tan;
}
.footer .sup-footer .bonuslink p:hover {
    color:goldenrod;
}
.footer .sup-footer .info {
    margin-top:30px;
    display:inline-block;
}
.footer .sup-footer .info p {
    font-size:15px;
    background-color:black;
    padding:0px 10px 10px 0px;
    color:tan;
    opacity:0.7;
}
.footer .sup-footer .info p span {
    margin-left:10px;
}
a:hover .fb-icon {
    color: goldenrod;
}
a:hover .ins-icon {
    color: goldenrod;
}
a:hover .tw-icon {
    color: goldenrod;
}



/*outputmasale*/
.outputmasale {
    width: 60%;
    border-radius:10px;
    background-color: black;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    display:none;    
}
.outputmasale.open {
    display:block;
}
.outputmasale h2 {
    margin:10% 0 20px 0;
    color:tan;
}
.outputmasale span {
    font-size:20px;
    color:tan;
    opacity:0.7;
}
.outputmasale .closesale {
    font-size:18px;
    margin-top:25%;
    padding:10px 0 10px 0;
}
.outputmasale .closesale span {
    border:1px solid black;
    padding:5px;
    cursor:pointer;
    background-color:red;
    color:black;
}
/*loichaomodau*/
.firststart{
    display:none;
}
.firststart.close {
    width: 70%;
    border-radius: 10px;
    background-color: black;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 2;
}
.firststart .text-firststart {
    width:80%;
    
}
.firststart .text-firststart h2 {
    padding:30px 0 30px 0;
    color:tan;
}
.firststart .text-firststart p {
    text-align:justify;
    color:tan;
    opacity:0.7;
    line-height:40px;
}
.firststart .text-firststart .closefirststart h2 {
    margin:30px 0 30px 0;
    border-radius:9px;
    background-color:tan;
    color:black;
    cursor:pointer;
}

.overplayy.close {
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color:rgba(0,0,0,0.6);
    cursor:pointer;
    
}
@media (min-width:851px){
    .nav {
        display:block;
    }
    .nav-mobile {
        display:none;
    }
}
@media (min-width:561px) and (max-width:850px) {
    .nav-mobile {
        display: block;
    }

    .nav {
        display: none;
    }
    .sanphamhot .itemhot h2 {
        font-size:20px;
    }
    .sanphamhot .itemhot .grid .row .col a {
        font-size:15px;
    }
    .tintuchot .itemhot h2 {
        font-size:20px;
    }
    .tintuchot .itemhot .grid .row .col a {
        font-size:15px;
    }
    .feedback h2 {
        font-size:20px;
    }
    /*Footer*/
    .footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        border-top: 2px solid black;
    }

        .footer h2 {
            width: 100%;
            text-align: center;
            padding: 20px 0 20px 0;
            font-size: 20px;
        }

        .footer .masale {
            width: 50%;
            background-color: black;
            padding-top: 20px;
            padding-bottom: 50px;
        }

            .footer .masale form {
                text-align: center;
            }

                .footer .masale form p {
                    font-size: 15px;
                    margin-bottom: 20px;
                    font-weight: 500;
                    color: red;
                }

                    .footer .masale form p label {
                        font-size: 12px;
                        color: tan;
                    }

                .footer .masale form .guigmail span {
                    width: 15%;
                    font-size: 12px;
                    border-radius: 200px;
                    cursor: pointer;
                    padding: 5px 5px 5px 5px;
                    background-color: white;
                }

                .footer .masale form p .input-gmail {
                    width: 80%;
                    font-size: 15px;
                    border-radius: 8px;
                }

        .footer .sup-footer {
            width: 35%;
            background-color: black;
            padding-top: 20px;
        }

        .footer .icon-footer {
            width: 15%;
            display: flex;
            flex-wrap: wrap;
            background: black;
            justify-items: center;
            align-content: center;
        }

            .footer .icon-footer a {
                display: inline-block;
                width: 100%;
                text-align: center;
            }

                .footer .icon-footer a svg {
                    width: 25%;
                    color: tan;
                }

        .footer .sup-footer .bonuslink {
            text-align: justify;
            font-size: 12px;
            padding: 10px 10px 0px 0px;
            color: tan;
        }

            .footer .sup-footer .bonuslink p:hover {
                color: goldenrod;
            }

        .footer .sup-footer .info {
            margin-top: 30px;
            display: inline-block;
        }

            .footer .sup-footer .info p {
                font-size: 10px;
                background-color: black;
                padding: 0px 10px 10px 0px;
                color: tan;
                opacity: 0.7;
            }

                .footer .sup-footer .info p span {
                    margin-left: 10px;
                }

    a:hover .fb-icon {
        color: goldenrod;
    }

    a:hover .ins-icon {
        color: goldenrod;
    }

    a:hover .tw-icon {
        color: goldenrod;
    }
}
@media (max-width:560px){
    .nav-mobile {
        display: block;
    }

    .nav {
        display: none;
    }
    .sanphamhot .itemhot h2 {
        font-size:18px;
    }
    .sanphamhot .itemhot .grid .row .col a {
        font-size:13px;
    }
    .tintuchot .itemhot h2 {
        font-size:18px;
    }
    .tintuchot .itemhot .grid .row .col a {
        font-size:13px;
    }
    .feedback h2 {
        font-size:18px;
    }
    /*Footer*/
.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-top:2px solid black;
    
}
.footer h2 {
    width:100%;
    text-align:center;
    padding:20px 0 20px 0;
    font-size:18px;
}
.footer .masale {
    width:50%;
    background-color:black;
    padding-top:20px;
    padding-bottom:50px;
}

.footer .masale form {
    text-align:center;
}
.footer .masale form p {
    font-size:13px;
    margin-bottom:20px;
    font-weight:500;
    color:red;
}
.footer .masale form p label {
    font-size:10px;
    color:tan;
}
.footer .masale form .guigmail span {
    width:15%;
    font-size:10px;
    border-radius:200px;
    cursor:pointer;
    padding:5px 5px 5px 5px;
    background-color:white;
    
    
}
.footer .masale form p .input-gmail {
    width:80%;
    font-size:13px;
    border-radius:8px;
}
.footer .sup-footer {
    width:35%;
    background-color:black;
    padding-top:20px;
    
}
.footer .icon-footer {
    width:15%;
    display:flex;
    flex-wrap:wrap;
    background:black;
    justify-items:center;
    align-content:center;
   
}
.footer .icon-footer a {
    display:inline-block;
    width:100%;
    text-align:center;
}
.footer .icon-footer a svg {
    width:25%;
    color:tan;
 
}

.footer .sup-footer .bonuslink {
    text-align:justify;
    font-size:10px;   
    padding:10px 10px 0px 0px;
    color:tan;
}
.footer .sup-footer .bonuslink p:hover {
    color:goldenrod;
}
.footer .sup-footer .info {
    margin-top:30px;
    display:inline-block;
}
.footer .sup-footer .info p {
    font-size:8px;
    background-color:black;
    padding:0px 10px 10px 0px;
    color:tan;
    opacity:0.7;
}
.footer .sup-footer .info p span {
    margin-left:10px;
}
a:hover .fb-icon {
    color: goldenrod;
}
a:hover .ins-icon {
    color: goldenrod;
}
a:hover .tw-icon {
    color: goldenrod;
}
}
