* {
    margin: 0;
    padding: 0;
    font-family: Roboto,Arial,Helvetica,"Droid Sans",sans-serif;
    box-sizing: border-box;
    
}
body {
   display:flex;
   flex-wrap:wrap;
   justify-content:center;
   background-color:black;
}
.clear {
    clear:both;
}
ul {
    margin:0;
    padding:0;
}
a {
    text-decoration:none;
    color:black;
}
/*Menu*/
.nav {
    height: 50px;
    background-color: black;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:1;
    
}
.nav .item-nav {
    display:flex;
}
.nav .item-nav a {
    display:inline-block;
    height:50px;
    line-height:50px;
    width:20%;
    text-align:center;
    font-weight:600;
    color:tan;
    letter-spacing:0.8px;
}
.nav .item-nav a {
    color:tan;
   
}
.nav .item-nav a:hover {
    border-bottom:3px aqua solid;
    cursor:pointer;
}
/*Menu-mobile*/
.nav-mobile {
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;   
}
.nav-mobile .icon-menu-mobile {
    height:100%;
}
.nav-mobile .icon-menu-mobile svg {
    color:tan;
    height:100%;
    width:9%;
    float:right;
    cursor:pointer;
}
.nav-mobile .item-nav-mobile {   
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    background-color:black;
    width: 70%;
    transform:translateX(100%);
    z-index:1;
    
}
.nav-mobile .item-nav-mobile a {   
    height: 50px;
    line-height: 50px;
    display:block;
    text-align: center;
    font-weight: 600;
    color: tan;
    letter-spacing: 0.8px;
}
.nav-mobile .item-nav-mobile a {
    color: tan;
}
.nav-mobile .item-nav-mobile a:hover {
    border-bottom: 3px aqua solid;
    cursor: pointer;
}
.overplay {
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color:rgba(0,0,0,0.6);
    cursor:pointer;   
    display:none;
}
.nav--input:checked ~ .overplay {
    display:block;
}
.nav--input:checked ~ .item-nav-mobile {
    transform:translateX(0%);
}

/*Content dichvus*/
.braedrumb {
    width:100%;
    padding-bottom:20px;
}
.braedrumb p a {
    color: tan;
}
.content-dichvus {
    margin: 50px;
    width: 80%;
    padding: 40px 0 0 0;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
    .content-dichvus .braedrumb p {
        font-size: 15px;
        color: tan;
    }
    .content-dichvus .main-dichvu {
        width: 80%;
    }
        .content-dichvus .main-dichvu h2 {
            font-size: 23px;
            font-weight: 500;
            color: darkgoldenrod;
        }
        .content-dichvus .main-dichvu p {
            margin: 20px 0 0 0;
        }
            .content-dichvus .main-dichvu p span {
                font-size: 15px;
                padding: 5px 5px 5px 5px;
                background-color: red;
                color: black;
            }
        .content-dichvus .main-dichvu p {
            font-size: 15px;
            line-height: 25px;
            color: tan;
        }
        .content-dichvus .main-dichvu img {
            width: 100%;
            padding: 20px 0 0 0;
        }
        .content-dichvus .main-dichvu .video-dichvu-1 {
            padding: 40px 0 20px 0;
        }
    .content-dichvus .sup-dichvu {
        width: 20%;
    }
    .content-dichvus .sup-dichvu p span {
        font-size: 15px;
        padding: 5px 5px 5px 5px;
        background-color: red;
    }
        .content-dichvus .sup-dichvu .content-sup-dichvu {
            margin: 0px 0 0 0;
            text-align: center;
        }
.sup-dichvu-item {
    margin: 25px 0 0 0px;
    padding: 0 0 0 10px;
}
.img-dichvus img {
    width: 100%;
}
    .img-dichvus img:hover {
        opacity: 0.4;
        cursor: pointer;
    }

.text-dichvus h2 {
    color: tan;
    font-size: 13px;
    padding: 0 5px 0 5px;
}
    .text-dichvus h2:hover {
        opacity: 0.4;
    }
    .text-dichvus h2 a {
        color: tan;
    }
.text-dichvus p {
    font-size: 12px;
    color: tan;
    opacity: 0.7;
    margin-top: 10px;
    padding: 0 5px 0 5px;
}
/*sup-news*/
.sup-dichvus {
    width: 80%;
    margin-top: 20px;
    display: none;
}
    .sup-dichvus p span {
        font-size: 15px;
        padding: 5px 5px 5px 5px;
        background-color: red;
    }
    .sup-dichvus .content-sup-dichvus {
        text-align: center;
        margin-bottom: 30px;
    }
    .sup-dichvus .sup-dichvus-item {
        width: 100%;
        margin: 5px 0 10px 0;
    }
dichvus-item .img-dichvus {
    width: 30%;
}
.sup-dichvus .sup-dichvus-item .img-dichvus img {
    width: 100%;
}
.sup-dichvus .sup-dichvus-item .text-dichvus {
    width: 70%;
}
/*Footer*/
.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-top:2px solid black;
    
}
.footer h2 {
    width:100%;
    text-align:center;
    padding:20px 0 20px 0;
}
.footer .masale {
    width:50%;
    background-color:black;
    padding-top:20px;
    padding-bottom:50px;
}

.footer .masale form {
    text-align:center;
}
.footer .masale form p {
    font-size:25px;
    margin-bottom:20px;
    font-weight:500;
    color:red;
}
.footer .masale form p label {
    font-size:20px;
    color:tan;
}
.footer .masale form .guigmail span {
    width:15%;
    font-size:20px;
    border-radius:200px;
    cursor:pointer;
    padding:5px 5px 5px 5px;
    background-color:white;
    
    
}
.footer .masale form p .input-gmail {
    width:80%;
    font-size:25px;
    border-radius:8px;
}
.footer .sup-footer {
    width:35%;
    background-color:black;
    padding-top:20px;
    
}
.footer .icon-footer {
    width:15%;
    display:flex;
    flex-wrap:wrap;
    background:black;
    justify-items:center;
    align-content:center;
   
}
.footer .icon-footer a {
    display:inline-block;
    width:100%;
    text-align:center;
}
.footer .icon-footer a svg {
    width:25%;
    color:tan;
 
}

.footer .sup-footer .bonuslink {
    text-align:justify;
    font-size:20px;   
    padding:10px 10px 0px 0px;
    color:tan;
}
.footer .sup-footer .bonuslink p:hover {
    color:goldenrod;
}
.footer .sup-footer .info {
    margin-top:30px;
    display:inline-block;
}
.footer .sup-footer .info p {
    font-size:15px;
    background-color:black;
    padding:0px 10px 10px 0px;
    color:tan;
    opacity:0.7;
}
.footer .sup-footer .info p span {
    margin-left:10px;
}
a:hover .fb-icon {
    color: goldenrod;
}
a:hover .ins-icon {
    color: goldenrod;
}
a:hover .tw-icon {
    color: goldenrod;
}
/*outputmasale*/
.outputmasale {
    width: 60%;
    border-radius:10px;
    background-color: black;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    display:none;    
}
.outputmasale.open {
    display:block;
}
.outputmasale h2 {
    margin:10% 0 20px 0;
    color:tan;
}
.outputmasale span {
    font-size:20px;
    color:tan;
    opacity:0.7;
}
.outputmasale .closesale {
    font-size:18px;
    margin-top:25%;
    padding:10px 0 10px 0;
}
.outputmasale .closesale span {
    border:1px solid black;
    padding:5px;
    cursor:pointer;
    background-color:red;
    color:black;
}


@media (min-width:851px) {
    .nav {
        display:block;
    }
    .nav-mobile {
        display:none;
    }
}
@media (max-width:1112px) {
    .sup-news {
        display:block;
    }
}
@media (min-width:561px) and (max-width:900px) {
    .nav-mobile {
        display: block;
    }

    .nav {
        display: none;
    }
    /*Footer*/
    .footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        border-top: 2px solid black;
    }

        .footer h2 {
            width: 100%;
            text-align: center;
            padding: 20px 0 20px 0;
            font-size: 20px;
        }

        .footer .masale {
            width: 50%;
            background-color: black;
            padding-top: 20px;
            padding-bottom: 50px;
        }

            .footer .masale form {
                text-align: center;
            }

                .footer .masale form p {
                    font-size: 15px;
                    margin-bottom: 20px;
                    font-weight: 500;
                    color: red;
                }

                    .footer .masale form p label {
                        font-size: 12px;
                        color: tan;
                    }

                .footer .masale form .guigmail span {
                    width: 15%;
                    font-size: 12px;
                    border-radius: 200px;
                    cursor: pointer;
                    padding: 5px 5px 5px 5px;
                    background-color: white;
                }

                .footer .masale form p .input-gmail {
                    width: 80%;
                    font-size: 15px;
                    border-radius: 8px;
                }

        .footer .sup-footer {
            width: 35%;
            background-color: black;
            padding-top: 20px;
        }

        .footer .icon-footer {
            width: 15%;
            display: flex;
            flex-wrap: wrap;
            background: black;
            justify-items: center;
            align-content: center;
        }

            .footer .icon-footer a {
                display: inline-block;
                width: 100%;
                text-align: center;
            }

                .footer .icon-footer a svg {
                    width: 25%;
                    color: tan;
                }

        .footer .sup-footer .bonuslink {
            text-align: justify;
            font-size: 12px;
            padding: 10px 10px 0px 0px;
            color: tan;
        }

            .footer .sup-footer .bonuslink p:hover {
                color: goldenrod;
            }

        .footer .sup-footer .info {
            margin-top: 30px;
            display: inline-block;
        }

            .footer .sup-footer .info p {
                font-size: 10px;
                background-color: black;
                padding: 0px 10px 10px 0px;
                color: tan;
                opacity: 0.7;
            }

                .footer .sup-footer .info p span {
                    margin-left: 10px;
                }

    a:hover .fb-icon {
        color: goldenrod;
    }

    a:hover .ins-icon {
        color: goldenrod;
    }

    a:hover .tw-icon {
        color: goldenrod;
    }
}

@media (max-width:560px) {
    .nav-mobile {
        display: block;
    }

    .nav {
        display: none;
    }
    /*Footer*/
    .footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        border-top: 2px solid black;
    }

        .footer h2 {
            width: 100%;
            text-align: center;
            padding: 20px 0 20px 0;
            font-size: 18px;
        }

        .footer .masale {
            width: 50%;
            background-color: black;
            padding-top: 20px;
            padding-bottom: 50px;
        }

            .footer .masale form {
                text-align: center;
            }

                .footer .masale form p {
                    font-size: 13px;
                    margin-bottom: 20px;
                    font-weight: 500;
                    color: red;
                }

                    .footer .masale form p label {
                        font-size: 10px;
                        color: tan;
                    }

                .footer .masale form .guigmail span {
                    width: 15%;
                    font-size: 10px;
                    border-radius: 200px;
                    cursor: pointer;
                    padding: 5px 5px 5px 5px;
                    background-color: white;
                }

                .footer .masale form p .input-gmail {
                    width: 80%;
                    font-size: 13px;
                    border-radius: 8px;
                }

        .footer .sup-footer {
            width: 35%;
            background-color: black;
            padding-top: 20px;
        }

        .footer .icon-footer {
            width: 15%;
            display: flex;
            flex-wrap: wrap;
            background: black;
            justify-items: center;
            align-content: center;
        }

            .footer .icon-footer a {
                display: inline-block;
                width: 100%;
                text-align: center;
            }

                .footer .icon-footer a svg {
                    width: 25%;
                    color: tan;
                }

        .footer .sup-footer .bonuslink {
            text-align: justify;
            font-size: 10px;
            padding: 10px 10px 0px 0px;
            color: tan;
        }

            .footer .sup-footer .bonuslink p:hover {
                color: goldenrod;
            }

        .footer .sup-footer .info {
            margin-top: 30px;
            display: inline-block;
        }

            .footer .sup-footer .info p {
                font-size: 8px;
                background-color: black;
                padding: 0px 10px 10px 0px;
                color: tan;
                opacity: 0.7;
            }

                .footer .sup-footer .info p span {
                    margin-left: 10px;
                }

    a:hover .fb-icon {
        color: goldenrod;
    }

    a:hover .ins-icon {
        color: goldenrod;
    }

    a:hover .tw-icon {
        color: goldenrod;
    }
}